@import "tailwindcss";
@import "tw-animate-css";

/* Variabel global */
:root {
  --font-sans: var(--font-noto);
  --font-heading: var(--font-teko);
  --radius: 0.625rem;

  /* Light mode colors */
  --background: #ffffff;
  --foreground: #111111;
  --card: #f9f9f9;
  --card-foreground: #111111;
  --popover: #f9f9f9;
  --popover-foreground: #111111;
  --primary: #1d4ed8;
  --primary-foreground: #ffffff;
  --secondary: #e5e7eb;
  --secondary-foreground: #111111;
  --muted: #f3f4f6;
  --muted-foreground: #111111;
  --accent: #dbeafe;
  --accent-foreground: #111111;
  --destructive: #dc2626;
  --input: #ffffff;
}

/* Global style */
body {
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--foreground);
}

/* Heading otomatis pakai font Teko */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
  letter-spacing: 0.5px;
}

.font-noto {
  font-family: var(--font-sans);
}

.font-teko {
  font-family: var(--font-heading);
}

